<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        @page {
            size: A4;
            margin: 0;
        }

        html { padding: 15px; margin: 0 }
        hr { margin-top: 30px; }
        
    </style>

</head>

<body style="padding: 15px 30px">

    <div class="container">

        <img src="/header.jpg" />

        <h1>
            <%= title %>
        </h1>

        <p>Qual é o seu nome?</p>
        <hr>
        <hr>
        <hr>

    </div>


</body>

</html>